127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# {{ ansible_managed }}
{{ hostvars['openshift-master.internal']['ansible_host'] }} openshift-master.internal
{{ hostvars['openshift-node-1.internal']['ansible_host'] }} openshift-node-1.internal
{{ hostvars['openshift-node-2.internal']['ansible_host'] }} openshift-node-2.internal
