# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# Use enterprise version
openshift_deployment_type=openshift-enterprise

# Use 'openshift' user instead of 'root'
ansible_ssh_user=ansible_user
ansible_become=true

# Set hostname for master
openshift_master_cluster_hostname=${openshift_master_fqdn}
openshift_master_cluster_public_hostname=${openshift_master_fqdn}

# Use firewalld insted of iptables
os_firewall_use_firewalld=true

# Change to private docker registry
oreg_url={{ docker_registry_ip }}:5000/openshift3/ose-$${component}:$${version}
openshift_docker_insecure_registries={{ docker_registry_ip }}:5000
openshift_examples_modify_imagestreams=true

# Specify image tag
openshift_image_tag=v3.11.43

[OSEv3:children]
masters
nodes
etcd

# Specify master hosts
[masters]
${openshift_master_fqdn}

# Specify etcd hosts
[etcd]
${openshift_master_fqdn}

# Specify nodes groups
[nodes]
${openshift_master_fqdn} openshift_node_group_name='node-config-master'
${openshift_node_1_fqdn} openshift_node_group_name='node-config-infra'
${openshift_node_2_fqdn} openshift_node_group_name='node-config-compute'
